{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
<div class="col-8 mx-auto">
    <div class="pink-box diff">
        <h3> Progress Indicator </h3>

        <div class="tags">
            <div id="synth">
                <img src="{% static 'img/synth_gray.png' %}" />
                <img src="{% static 'img/synth_blue.png' %}" class="no_tag" />
                <img src="{% static 'img/synth_green.png' %}" class="no_tag" />
                <img src="{% static 'img/synth_red.png' %}" class="no_tag" />
                <p> Synthesis </p>
                <div class="loading-spinner"></div>
            </div>

            <div id="pack">
                <img src="{% static 'img/pack_gray.png' %}" />
                <img src="{% static 'img/pack_blue.png' %}" class="no_tag" />
                <img src="{% static 'img/pack_green.png' %}" class="no_tag" />
                <img src="{% static 'img/pack_red.png' %}" class="no_tag" />
                <p> Packaging </p>
                <div class="loading-spinner"></div>
            </div>

            <div id="place">
                <img src="{% static 'img/place_gray.png' %}" />
                <img src="{% static 'img/place_blue.png' %}" class="no_tag" />
                <img src="{% static 'img/place_green.png' %}" class="no_tag" />
                <img src="{% static 'img/place_red.png' %}" class="no_tag" />
                <p> Placement </p>
                <div class="loading-spinner"></div>
            </div>

            <div id="route" >
                <img src="{% static 'img/route_gray.png' %}" />
                <img src="{% static 'img/route_blue.png' %}" class="no_tag" />
                <img src="{% static 'img/route_green.png' %}" class="no_tag" />
                <img src="{% static 'img/route_red.png' %}" class="no_tag" />
                <p> Routing </p>
                <div class="loading-spinner"></div>
            </div>

            <div id="fasm">
                <img src="{% static 'img/fasm_gray.png' %}" />
                <img src="{% static 'img/fasm_blue.png' %}" class="no_tag" />
                <img src="{% static 'img/fasm_green.png' %}" class="no_tag" />
                <img src="{% static 'img/fasm_red.png' %}" class="no_tag" />
                <p> Writing FASM </p>
                <div class="loading-spinner"></div>
            </div>

            <div id="bit">
                <img src="{% static 'img/bit_gray.png' %}" />
                <img src="{% static 'img/bit_blue.png' %}" class="no_tag" />
                <img src="{% static 'img/bit_green.png' %}" class="no_tag" />
                <img src="{% static 'img/bit_red.png' %}" class="no_tag" />
                <p> Writing Bitstream </p>
                <div class="loading-spinner"></div>
            </div>
            
        </div>
        
        
    </div>

    <div class="spacer"></div>
    <div class="pink-box diff">
        <h3> Bitstream File <img src="{% static 'img/download.png' %}" /> </h3>
        <div class="files-box row">
            <div id="bit_file" class="col-4">
                <div onclick="eel.exportBitstream()" class="cancel icon-div">
                    <img src="{% static 'img/internal.png' %}" />
                </div>
                
                <div class="file-box">
                    <img src="{% static 'img/file.png' %}" />
                    <p> output.bit </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>

{% endblock content %}